<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="hb" target="SYSTEM_OUT">
            <PatternLayout pattern="HibernateLog --> %d{HH:mm:ss} [%p] [%c] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
<!--        <Root level="error">-->
<!--            <AppenderRef ref="hb"/>-->
<!--        </Root>-->
<!--        <Logger name="org.hibernate" level="INFO">-->
<!--            <AppenderRef ref="hb"/>-->
<!--        </Logger>-->
        <Logger name="org.hibernate.SQL" level="DEBUG">
            <AppenderRef ref="hb"/>
        </Logger>
<!--        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="DEBUG">-->
<!--            <AppenderRef ref="hb"/>-->
<!--        </Logger>-->
        <Logger name="org.hibernate.engine.transaction.internal.TransactionImpl" level="DEBUG">
            <AppenderRef ref="hb"/>
        </Logger>
    </Loggers>
</Configuration>