<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<import resource="classpath:sqlBeans.xml" />
	<import resource="classpath:exampleBeans.xml" />
	<import resource="classpath:a592070.beans.xml"/>
	<import resource="classpath:iring29.beans.xml"/>
	<import resource="classpath:azaz4498.beans.xml"/>
	<import resource="classpath:rambo0021.beans.xml" />


	<context:annotation-config />
	<context:component-scan base-package="global"/>
<!-- 	<context:component-scan base-package="azaz4498"/> -->
	<mvc:default-servlet-handler />
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="utf-8"/>
			</bean>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
						<property name="failOnEmptyBeans" value="false"/>
					</bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>


	<!--視圖解析器: DispatcherServlet 給他的ModelAndView -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="InternalResourceViewResolver">
		<!--前綴 -->
		<property name="prefix" value="/WEB-INF/admin/" />
		<!--後綴 -->
		<property name="suffix" value=".jsp" />
	</bean>

</beans>